html,
body {
    font-family: Open Sans;
    height: 100%;
}


/*********

Typography 

*********/

h1,
h2,
h3 {
    font-family: 'Cardo', serif;
    color: #1c2c58;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

h3 {
    font-size: 1.2rem;
    font-style: italic;
}


/**************

Common elements

**************/

.follow-up__link {
    text-transform: uppercase;
    color: #1c2c58;
}

.arrow-right {
    width: 20px;
    margin-left: 20px;
}


/*********

Navigation

*********/

.nav-top {
    background-color: #1c2c58;
    height: 5px;
}

.nav-wrapper {
    margin-top: -2px;
}

nav {
    background-color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

nav a {
    color: #1c2c58;
}

nav ul a {
    color: #1c2c58;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.side-nav-logo {
    /* Styling logo wrapper on mobile screens*/
    height: 200px;
    background-color: #1c2c58;
    margin-bottom: 10px;
}

.side-nav-logo img {
    /* Styling logo img on mobile screens*/
    width: 200px;
    padding: 85px 32px;
    margin: 0 auto;
}

.brand-logo {
    /* Styling logo on large screens*/
    width: 150px;
}

@media only screen and (min-width: 600px) {
    .brand-logo {
        margin-left: 60px;
    }
}

@media only screen and (min-width: 300px) {
    .brand-logo {
        margin-left: 30px;
    }
}


/********************

Homepage intro section

********************/

.intro {
    position: relative;
    height: 90%;
    background: url("../img/dhzamgarovalaw-hero-photo-julian-santa-ana-.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scroll-down-icon {
    /* Styling scroll-down icon on the index page*/
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 10;
}

@media only screen and (max-width: 992px) {
    /* Hide scroll-down icon on screens less than 600px wide */
    .scroll-down-icon {
        display: none;
    }
}

.impressum {
    margin: 60px 0 0 32px;
}

.intro__testimonial {
    height: 180px;
    background-color: #1c2c58;
}

.intro__address {
    height: 180px;
    background-color: #fff;
    opacity: .8;
    border: 1px solid #1c2c58;
}