html,
body {
    font-family: Open Sans;
    height: 100%;
    font-weight: 300;
}


/*********

Typography 

*********/

h1,
h2,
h3 {
    font-family: 'Cardo', serif;
    color: #1c2c58;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}


/**************

Common elements

**************/

.follow-up__link {
    text-transform: uppercase;
    color: #1c2c58;
}

.icon__arrow-right, .icon__expand {
    width: 20px;
    margin-left: 20px;
}

.icon__expand {
    float: right;
    padding-top: 12px;
}


/*********

Navigation

*********/

.nav-top {
    background-color: #1c2c58;
    height: 5px;
}

.nav-wrapper {
    margin-top: -2px;
}

nav {
    background-color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #1c2c58;
}

nav a:hover {
    color: #9E9E9E;
}

nav ul a {
    color: #1c2c58;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.side-nav-logo {
    /* Styling logo wrapper on mobile screens*/
    height: 200px;
    background-color: #1c2c58;
    margin-bottom: 10px;
}

.side-nav-logo img {
    /* Styling logo img on mobile screens*/
    width: 200px;
    padding: 85px 32px;
    margin: 0 auto;
}

.brand-logo {
    /* Styling logo on large screens*/
    width: 150px;
}

@media only screen and (min-width: 600px) {
    .brand-logo {
        margin-left: 60px;
    }
}

@media only screen and (min-width: 300px) {
    .brand-logo {
        margin-left: 30px;
    }
}


/*********************

Homepage intro section

*********************/

.intro {
    height: 90%;
    background: url("../img/dhzamgarovalaw-hero-photo.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 63px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 600px) {
    /* Adjust Intro section top margin to fit top nav */
    .intro {
        margin-top: 56px;
    }
}

.scroll-down-icon {
    /* Styling scroll-down icon on the index page*/
    position: absolute;
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    z-index: 10;
}

@media only screen and (max-width: 992px) {
    /* Hide scroll-down icon on screens less than 600px wide */
    .scroll-down-icon {
        display: none;
    }
}

.impressum {
    margin: 60px 0 0 32px;
}

.testimonial__address {
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
    /* remove padding-top from testimonial__address section on smaller screens */
    .testimonial__address {
        padding-top: 0;
    }
}

.intro__testimonial {
    height: 180px;
    background: url("../img/testimonial.svg") no-repeat center center;
}

.intro__address {
    height: 180px;
    background: url("../img/contact-intro.svg") no-repeat center center;
    opacity: .8;
}

.intro__address__content {
    margin-left: 30px;
}


/*********************

Homepage visas section

*********************/

.visas {
    background-color: #1c2c58;
    color: #fff;
    z-index: 1;
}

.visas a {
    color: #fff;
    line-height: 1.8rem;
}

.visas a:hover {
    color: #9E9E9E;
}

.visas .container {
    padding-bottom: 100px;
}

.visas .container h2,
h4 {
    color: #fff;
}

.visas .container h2 {
    text-align: center;
    padding: 60px 0;
    border-bottom: 1px solid #fff;
}

.visas .container h4 {
    color: #fff;
    padding-top: 30px;
}

.visas .container a h4:hover {
    color: #9E9E9E;
}


/*********************

Homepage Green Cards section

*********************/

.green__cards {
    color: #1c2c58;
}

.green__cards a {
    color: #1c2c58;
    line-height: 1.8rem;
}

.green__cards a:hover {
    color: #9E9E9E;
}

.green__cards .container {
    padding-bottom: 100px;
}

.green__cards .container h2,
h4 {
    color: #1c2c58;
}

.green__cards .container h2 {
    text-align: center;
    padding: 60px 0;
    border-bottom: 1px solid #1c2c58;
}

.green__cards .container h4 {
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
    .green__cards__desktop {
        /* remove full Green Cards list on smaller screens and sub it for mobile accordion */
        display: none;
    }
    .green__cards .container h2 {
        /* remove horizontal divider and change padding */
        border-bottom: none;
        padding: 60px 0 30px;
    }
}

@media only screen and (min-width: 600px) {
    /* remove Green Cards mobile accordion on large screens and sub it for full list */
    .green__cards__mobile {
        display: none;
    }
}

.collapsible-header {
    /* style mobile accordion headers */
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.green__cards__mobile h3 {
    padding: 0 0 20px;
}